
.editForm__container {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}

.editForm {
  margin: 80px auto 35px;
  width: 80%;
  max-width: 1240px;
  border-radius: 10px;
  background: #f7fafc;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 40px -15px black;
  display: flex;
  align-items: stretch;
}

.editForm__inner {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.editForm__closeBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #c8cacb;
  padding: 0px 20px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 0 0 0 0.5rem;
  transition: color 0.3s;
}

.editForm__closeBtn:hover {
  color: #2d3745;
  cursor: pointer;
  transition: color 0.3s;
}

.editForm__header {
  font-size: 20px;
  line-height: 35px;
  background: inherit;
  padding: 8px 0;
  border: none;
  font-weight: 900;
  color: #2d3745;
  width: 100%;
  max-width: 900px;
  margin: 50px auto 0;
  display: block;
}

.editForm__btnContainer {
  max-width: 900px;
  margin: 20px auto;
  width: 100%;
  display: block;
}

.editForm__comfirmDelete {
  height: 80px;
  width: 200px;
  position: absolute;
  background: #2d3845;
  top: 0;
  border-radius: 0 10px 10px 0;
  left: 100px;
}

.editForm__comfirmDeleteTitle {
  color: white;
  font-size: 18px;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}

.editForm__comfirmDelete__yes, .editForm__comfirmDelete__no {
  width: 80px;
  margin-left: 12px;
  border-radius: 10px;
  border: none;
  color: white;
  background: #3d4b5b;
  transition: background 0.3s;
}

.editForm__comfirmDelete__yes:hover, .editForm__comfirmDelete__no:hover {
  background: #515f70;
  cursor: pointer;
  transition: background 0.3s;
}


.editForm__btn {
  background: #2d3745;
  width: 150px;
  color: white;
  transition: background 0.3s;
}

.editForm__btn:hover {
  cursor: pointer;
  background: #20242a;
  transition: background 0.3s;
}

.editForm__leftPanel {
  width: 100px;
  background: #2d3745;
  min-height: 100px;
  float: left;
  flex: 1;
  padding: 15px 0;
}

.editForm__rightPanel {
  width: calc(100% - 100px);
  float: left;
  padding: 0 40px 40px;
}

.editForm__codeInput {
  background: white;
  border-radius: .25rem;
  border: 1px solid lightgray;
  padding: 40px 40px 60px;
  max-width: 900px;
  margin: 20px auto;
  width: 100%;
  display: block;
}

.editForm__iconContainer__delete {
  position: relative;
}

.editForm__iconContainer__delete:hover * {
  color: #c56060;
  cursor: pointer;
  transition: color 0.3s;
}

.editForm__deleteBtn {
  height: 40px;
  margin: 15px 30px 15px;
  width: 40px;
  color: #5e6b79;
  transition: color 0.3s;
}

.editForm__tooltip {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  bottom: -22px;
  font-size: 12px;
  color: transparent;
}

.editForm__smallIcon {
  color: #5e6b79;
  border-radius: 40%;
  position: absolute;
  padding: 3px;
  top: 6px;
  right: 25px;
  font-size: 20px;
  background: #2d3745;
  transition: color 0.3s;
}

.editForm__bigBtn {
  height: 40px;
  margin: 15px 30px 15px;
  width: 40px;
  color: #5e6b79;
  transition: color 0.3s;
}

.editForm__iconContainer {
  position: relative;
}

.editForm__iconContainer:hover * {
  color: #00a79d;
  cursor: pointer;
  transition: color 0.3s;
}

.editForm__editBtn {
  height: 40px;
  margin: 15px 30px 15px;
  width: 40px;
  color: #5e6b79;
  transition: color 0.3s;
}

.editForm__editBtn:hover {
  color: #00a79d;
  cursor: pointer;
  transition: color 0.3s;
}
