
.navbar {
  height: 70px;
  margin: 0;
  padding: 0;
}

.navbar__container {
  width: 100%;
  height: 70px;
}

.navBar__group {
  display: inline-block;
  height: 70px;
}

.navBar__group:hover {
  cursor: pointer;
}

.navBar__icon {
  display: inline-block;
  padding-right: 10px;
  height: 70px;
  width: 60px;
  padding: 20px 7px 20px 10px;
  color: #686868;
  vertical-align: top;
}

.narbar__title {
  color: white;
  font-size: 20px;
  line-height: 70px;
  display: inline-block;
  margin: 0;
}

.navbar__title__highlight {
  color: #19dec4;
}
